/* ===== SMALLLAPTOP SCREEN ===== */
@media (max-width: 72rem) {
  body {
    /* background-color: red; */
  }
}

/* ===== TABLET SCREEN ===== */
@media (max-width: 51rem) {
  body {
    /* background-color: green; */
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: #f4f4f4;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .navbar {
    margin: 0 -60px;
  }
  .hero-text,
  .about-para {
    width: 100%;
  }
  .perview-about {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .perview-about-second {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
  }
  .skills-icon-container,
  .second-skill-container {
    flex-direction: column;
    gap: 20px;
  }
  .skill {
    width: 100%;
    margin: 0 auto;
  }
  .Information-container {
    flex-direction: column;
  }
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }
}

/* ===== PHONE LANDSCAPE =====  43REM*/
@media (max-width: 43rem) {
  body {
    /* background-color: firebrick; */
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: #f4f4f4;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .skills-icon-container {
    flex-direction: column;
  }
  .navbar {
    margin: 0 -70px;
  }
  .hero-text,
  .about-para {
    width: 100%;
  }
  .perview-about {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .perview-about-second {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
  }
  .skills-icon-container,
  .second-skill-container {
    flex-direction: column;
    gap: 20px;
  }
  .card-project-container {
    flex-direction: column;
  }
  .skill {
    width: 100%;
    margin: 0 auto;
  }
  .Information-container {
    flex-direction: column;
  }
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }
}

/* ===== PHONE PORTRAIT ===== 34REM */
@media (max-width: 34rem) {
  body {
    /* background-color: rgb(117, 92, 205); */
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0f172a;
    position: absolute;
    top: 60px;
    width: 200px;
    right: 20px;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: flex;
  }
  .navbar {
    margin: 0 -100px;
    margin-right: -40px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .hero-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .cta-btn ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .hero-text,
  .about-para {
    width: 100%;
    text-align: center;
  }
  .perview-about {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }
  .perview-about-second {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .about-heading {
    width: 100%;
  }
  .perview-about-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .download-cv-btn {
    margin-top: auto;
    margin-left: 2px;
  }
  .skills-icon-container,
  .second-skill-container {
    flex-direction: column;
    gap: 20px;
  }
  .card-project-container {
    flex-direction: column;
  }
  .skill {
    width: 100%;
    margin: 0 auto;
  }
  .Information-container {
    flex-direction: column;
  }
  .info-details-container {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    gap: 25px;
  }
}
